.main {
  min-width: 1200px;
  max-width: 1920px;
  min-height: 100vh;
  background: rgb(2,0,36);
background: linear-gradient(25deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(199,199,255,1) 85%);
background-repeat: no-repeat;
background-size: cover;
}
.header {
  display: flex;
  flex-direction: row;
  max-width: 200px;
  border: 1px solid red;
}
.header__menu {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border: 1px solid red;

}
.header__element {
  background-color: rgba(5, 5, 5, 0);
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s;

}
.header__element:hover {
  transform: scale(1.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top: none;
  border-left: none;
}
.menuBtn {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.menuBtnr+label {
  display: flex;
  align-items: center;
  user-select: none;
}
.menuBtn+label::before {
  content: '';
  display: flex;
  width: 5em;
  height: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-image: url('https://sun9-73.userapi.com/impf/c850232/v850232386/1dd783/0lODKUtdqmo.jpg?size=959x1280&quality=96&sign=ca35a96de1371da79359aaf2d5580505&type=album');
  background-size: 50%;
  background-color: black;
}
.menuBtn:checked+label::before {
  background-image: url('https://sun9-68.userapi.com/impf/c846220/v846220735/1cac01/GEN_-QS0TTA.jpg?size=810x1080&quality=96&sign=713ecaa7a97ef48b53eed9c02261dcb1&type=album');
}